<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<h:form>
        <h3>Adding Form Components</h3>
        <h:panelGrid columns="3">
            <h:outputLabel for="name">Name:</h:outputLabel>
            <h:inputText value="#{cliente.nombre}" id="cname"></h:inputText>
            <br />
            <br />
 
            <h:outputLabel for="Id">Id:</h:outputLabel>
            <h:inputText value="#{cliente.idCliente}"></h:inputText>
            <br />
            <br />
 
            <h:outputLabel for="apellido">LastNAME:</h:outputLabel>
            <h:inputText value="#{cliente.apellido}"></h:inputText>
            <br />
            <br />
 
            <h:outputLabel for="dni">dni:</h:outputLabel>
            <h:inputText value="#{cliente.dni}"></h:inputText>
            <br />
            <br />
            <h:commandButton action="#{navigationController.moveToVer}" value="Ver"></h:commandButton>
        </h:panelGrid>
    </h:form>
</body> 
</html>