<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<h:body>
	<h1>JSF 2 textbox example</h1>
		<h:form>
			<h:inputText value="#{userBean.userName}"></h:inputText>
			<h:commandButton action="#{navigationController.moveToPage1}" value="Page1"></h:commandButton>
		</h:form>
	</h:body>
</body> 
</html>